.down{
    color: red;
}
@media only screen and (min-width:1024px){
	table{
	empty-cells: hide;
	/* border-collapse: collapse; */
	border: 2px solid black;
	margin-left: 10%;
	box-shadow: 10px 10px 10px rgba(var(--lightBlack), 1);
    }
    th, td{
        border: 1px solid black;
        border-spacing: 0px;
        padding: 0 10px 0 10px;
    }
}
@media only screen and (max-width:1023px){
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.network td:nth-of-type(1):before { content: "Class"; }
	.network td:nth-of-type(2):before { content: "vLAN"; }
	.network td:nth-of-type(3):before { content: "Nom vLAN"; }
	.network td:nth-of-type(4):before { content: "@Réseaux"; }
	.network td:nth-of-type(5):before { content: "Netmask"; }
	.network td:nth-of-type(6):before { content: "@Broadcast"; }
	
    .firewall td:nth-of-type(1):before { content: "Int"; }
	.firewall td:nth-of-type(2):before { content: "Sous-Int"; }
	.firewall td:nth-of-type(3):before { content: "vLAN/Bridge"; }
	.firewall td:nth-of-type(4):before { content: "Nom"; }
	.firewall td:nth-of-type(5):before { content: "Adresse"; }
	.firewall td:nth-of-type(6):before { content: "Adresse Virtuelle"; }
	.firewall td:nth-of-type(7):before { content: "Connecté à"; }
	
    .router-int td:nth-of-type(1):before { content: "Int FastEthernet"; }
	.router-int td:nth-of-type(2):before { content: "Sous-Int"; }
	.router-int td:nth-of-type(3):before { content: "dot1Q"; }
	.router-int td:nth-of-type(4):before { content: "Bridge-Group"; }
	.router-int td:nth-of-type(5):before { content: "Connecté à"; }
	
    .router-bvi td:nth-of-type(1):before { content: "Int bvi"; }
	.router-bvi td:nth-of-type(2):before { content: "Groupe"; }
	.router-bvi td:nth-of-type(3):before { content: "Priorité"; }
	.router-bvi td:nth-of-type(4):before { content: "Adresse"; }
	.router-bvi td:nth-of-type(5):before { content: "Adresse Virtuelle"; }
	
    .switch-int td:nth-of-type(1):before { content: "Int Ethernet"; }
	.switch-int td:nth-of-type(2):before { content: "Type"; }
	.switch-int td:nth-of-type(3):before { content: "vLAN"; }
	.switch-int td:nth-of-type(4):before { content: "Connecté à"; }
	
    .switch-bvi td:nth-of-type(1):before { content: "Int vLAN"; }
	.switch-bvi td:nth-of-type(2):before { content: "vLAN"; }
	.switch-bvi td:nth-of-type(3):before { content: "Nom"; }
	.switch-bvi td:nth-of-type(4):before { content: "Adresse"; }
	.switch-bvi td:nth-of-type(5):before { content: "Spanning-tree"; }
	
    .servers td:nth-of-type(1):before { content: "Nom"; }
	.servers td:nth-of-type(2):before { content: "vLAN"; }
	.servers td:nth-of-type(3):before { content: "Adresse"; }
	.servers td:nth-of-type(4):before { content: "FQDN"; }
	.servers td:nth-of-type(5):before { content: "Connecté à"; }
}