:root{
    --Background: 245,245,245;
    --alpha:0.9;
    --lightBlack: 51,51,51;
    --titleRed: 255,0,0;
    --crimsonRed: 220,20,60;
    --link: 255,0,0;
    --blueTable: 45,1,167
}
*{
    box-sizing: inherit;
    text-wrap: balance;
    scroll-margin-top: 70px;
}
html{
    font-size: 1rem;
}
/*---------------------- Boutton ----------------------*/
.Btn {
    padding: 12px 24px;
    cursor: pointer;
    color: rgb(var(--crimsonRed));
    position: relative;
    border-radius: 1rem;
    border-color: rgb(var(--crimsonRed));
    border-style: groove;
    overflow: hidden;
    z-index: 1;
}
.Btn span {
    z-index: 1;
    position: relative;
}
.Btn span{
    color: #111;
    text-decoration-color: rgb(var(--crimsonRed));
    text-decoration-line: none;
}
.Btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
    transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
    background-color: rgb(var(--crimsonRed));
    opacity: 0;
}
.Btn:hover span{
    color: hsl(222, 100%, 95%);
}
.Btn:hover::before {
    opacity: 1;
    transition-duration: .85s;
    transform: translate3d(-50%,-50%,0) scale3d(1.2,1.2,1.2);
}
/*---------------------- main ----------------------*/
a{
    color: var(--link);
    font-weight: bold;
}
body{
    font-family: 'Hind Madurai', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
}
header{
    grid-area: header;
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(var(--Background),1);
}
header H1{
    font-family: 'Montserrat', sans-serif;
    color: rgb(var(--titleRed));
}
body H2{
    font-family: 'Montserrat', sans-serif;
    color: rgb(var(--crimsonRed));
    padding-top: 1rem;
    margin-left: 4%;
    margin-right: 4%;
}
body H3{
    font-family: 'Lora', serif;
    margin-left: 7%;
    margin-right: 7%;
}
body H4{
    font-family: 'Montserrat', sans-serif;
}
body main p{
    padding-bottom: 1rem;
    margin: 1rem;
    margin-left: 10%;
    margin-right: 10%;
}
/*---------------------- acceuil ----------------------*/
.acceuil h4{
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
}
.acceuil .main ul{
    margin-left: 10%;
    margin-right: 10%;
    list-style: none;
}
.acceuil .main li{
    padding-bottom: 1rem;
}
.acceuil .main li::before{
    content: "⇒ ";
    color: rgb(var(--crimsonRed));
}
/*---------------------- Veille ----------------------*/
.veille{
    background-image: url("/Img/Fond/epreuve.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.gridVeille{
    display: grid;
    background-color: rgba(0, 0, 0, 0);
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: auto;
    justify-items: center;
    justify-content: space-between;
    /* column-gap: clamp(0,2%,2%); */
}
.gridVeille div{
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.2s ease-in-out;
    width: clamp(10%, 100%, 100%);
}
.gridVeille div blockquote p{
    box-sizing:border-box;
}
.gridVeille div blockquote p{
    word-wrap: break-word;
}