enable
configure terminal

no ip igmp snooping

ip domain lookup
ip domain name netforge.net
ip name-server 172.16.20.10 172.16.25.10

! creation du mot de passe enable necessaire pour ssh
enable password Soleil1
! Creation d un utilisateur dans la base locale necessaire pour connexion ssh
username Admin password Soleil1

! Activation de la connexion ssh
crypto key generate rsa
1024
ip ssh version 2
ip ssh time-out 60
ip ssh authentication-retries 3
line vty 0 4
no transport input all
transport input ssh
login local
exit

interface loopback 0
ip address 10.0.1.2 255.255.255.255
no shutdown
exit

! SNMP v3
snmp-server group Netforge v3 auth read v1default
snmp-server user Admin Netforge v3 auth md5 Soleil10!@
snmp-server host 172.16.20.12 version 3 auth Admin
! snmp-server host 172.16.25.12 version 3 auth Admin
snmp-server enable traps

logging buffered 16384
logging 172.16.25.12
archive
log config
logging enable
logging size 1000
notify syslog
hidekeys
exit
exit

vlan 20
name vLAN_Server_Master
exit

vlan 40
name vLAN_LAN_Admin
exit

vlan 110
name vLAN_LAN_Impression
exit

vlan 120
name vLAN_LAN_Direction
exit

vlan 130
name vLAN_LAN_Bureau_Etude
exit

interface vlan 20
ip address 172.16.20.243 255.255.255.0
no shutdown
exit

interface vlan 25
ip address 172.16.25.243 255.255.255.0
no shutdown
exit

interface Ethernet 0/0
duplex full
description "sCore-1"
switchport trunk encapsulation dot1q
switchport mode trunk
switchport trunk allowed vlan none
switchport trunk allowed vlan add 20
switchport trunk allowed vlan add 25
switchport trunk allowed vlan add 40
switchport trunk allowed vlan add 110
switchport trunk allowed vlan add 120
switchport trunk allowed vlan add 130
no shutdown
exit

interface Ethernet 0/1
duplex full
description "sCore-2"
switchport trunk encapsulation dot1q
switchport mode trunk
switchport trunk allowed vlan none
switchport trunk allowed vlan add 20
switchport trunk allowed vlan add 25
switchport trunk allowed vlan add 40
switchport trunk allowed vlan add 110
switchport trunk allowed vlan add 120
switchport trunk allowed vlan add 130
no shutdown
exit

interface Ethernet 1/0
duplex full
switchport mode access
switchport access vlan 120
no shutdown
exit

interface Ethernet 1/1
duplex full
switchport mode access
switchport access vlan 130
no shutdown
exit

interface Ethernet 1/2
duplex full
switchport mode access
switchport access vlan 110
no shutdown
exit

exit
write memory
